@charset "utf-8";

.r_font 
{
    color: #BE1A1A;
    font-family: "Jacquarda Bastarda 9", serif; Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-weight: 400;
  	font-style: normal;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.mybox
{
    width: 450px;
    height: 679px;
    border: 8px;
    border-color: red;
    background-color: mediumvioletred;
	
}

.columnbox1
{
	background-color: cornflowerblue;
}

.columnbox2
{
	background-color:#BB2BD0;
}

.columnbox3
{
	background-color: darkgreen;
}


#testid
{
	background-color: blueviolet;
}



	
	
